@page "/AprendeMás"

<h2>Aprende Más sobre Blazor</h2>

<div class="containerVideo">
    <div class="card col-4 p-0 m-4">
@*         <iframe width="560" height="315" src="https://www.youtube.com/embed/NFNyXm0JOM4?si=Q1gxIx6yRH9DxBk9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descripción del video 1: Me gustó porque me mostro los conceptos basicos de Blazor...</p> *@
       
@*         <div class="card-header"></div>
 *@        
        <div class="card-body p-0">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/NFNyXm0JOM4?si=Q1gxIx6yRH9DxBk9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

        <div class="card-footer">
            <p>Descripción del video 1: Me gustó porque me mostro los conceptos basicos de Blazor...</p>

        </div>
       
    </div>

    @* <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F6H1q7omPvw?si=rn7PWHIzkANqpFLN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descripción del video 2: Me gustó porque me guio en la instalacion del entorno de blazor...</p>
    </div> *@
    <div class="card col-4 m-4">
       
        <div class="card-body p-0">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/F6H1q7omPvw?si=rn7PWHIzkANqpFLN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

        <div class="card-footer">
            <p>Descripción del video 2: Me gustó porque me guio en la instalacion del entorno de blazor...</p>

        </div>

    </div>

    @* <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D5_blFr60wE?si=n9DO8l3z-KTQJeg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descripción del video 3: Me gustó porque me mostro la estructura de un proyecto en blazor ...</p>
    </div> *@
    <div class="card col-4 m-4">

    <div class="card-body p-0">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/D5_blFr60wE?si=n9DO8l3z-KTQJeg8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

    <div class="card-footer">
        <p>Descripción del video 3: Me gustó porque me mostro la estructura de un proyecto en blazor ...</p>

    </div>

</div>

   @*  <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D5_blFr60wE?si=5h9p4NifIHZK4SsV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descripción del video 4: Me gustó porque me mostro como entregar un proyecto de blazor a una empresa...</p>
    </div> *@

    <div class="card col-4 m-4">

        <div class="card-body p-0">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/D5_blFr60wE?si=5h9p4NifIHZK4SsV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

        <div class="card-footer">
            <p>Descripción del video 4: Me gustó porque me mostro como entregar un proyecto de blazor a una empresa...</p>

        </div>

    </div>

   @*  <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oWuOYMfteuU?si=rrOvpc9KZkUDLSa5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descripción del video 5: Me gustó porque me mostro como trabajar las paginas y sus respectivos componentes en blazor...</p>
    </div> *@

    <div class="card col-4 m-4">

        <div class="card-body p-0">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/oWuOYMfteuU?si=rrOvpc9KZkUDLSa5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        </div>

        <div class="card-footer">
            <p>Descripción del video 5: Me gustó porque me mostro como trabajar las paginas y sus respectivos componentes en blazor...</p>

        </div>

    </div>

</div>

<style>
    .containerVideo{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    h2 {
        color: #333;
        text-align: center;
    }
    div {
        margin-bottom: 20px;
    }
    iframe {
        display: block;
        margin: 0 auto;
    }
    p {
        text-align: center;
        font-size: 16px;
    }
</style>
