@page "/Pruebita"

<h3>Pruebita</h3>

<h2>Acerca de Mí</h2>

<div class="perfil">
    <img src="C:\Users\Akira\Downloads\Foto 2x2.jpeg" alt="Foto de perfil" width="150" height="150" />
    <p>Nombre: Rusbel Uceta Sosa</p>
    <p>Email: rusbeluceta24@gmail.com</p>
    <p><a href="https://wa.me/+18493152106" target="_blank">Chat en WhatsApp</a></p>
    <p><a href="https://t.me/+18493152106" target="_blank">Chat en Telegram</a></p>
    <p>Me gustaría dedicarme a: Algo relacionado al desarrollo de videojuegos</p>
</div>

<style>
    .perfil {
        text-align: center;
    }
    img {
        border-radius: 50%;
        margin-bottom: 15px;
    }
    p {
        margin: 5px 0;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        color: #4CAF50;
    }
</style>


@code {

}
